format = """
$username\
$hostname\
$shlvl\
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
$package\
$cmake\
$dotnet\
$golang\
$helm\
$java\
$nim\
$nodejs\
$python\
$ruby\
$rust\
$terraform\
$zig\
$nix_shell\
$memory_usage\
$docker_context\
$kubernetes\
$aws\
$gcloud\
$env_var\
$custom\
$line_break\
$jobs\
$battery\
$time\
$cmd_duration\
$status\
$character"""

[character]
success_symbol = "[](bold white)"
error_symbol = "[](bold red)"
vicmd_symbol = "[](bold white)"

[directory]
style = "bold white"
format = "[$path]($style) "
truncation_length = 10

[status]
style = "red"
symbol = ""
format = "[ $status]($style) "
disabled = false

[cmd_duration]
style = "white"
format = " [$duration]($style)\n"
min_time = 30_000

[time]
style = " white"
format = " [$time]($style)\n"
disabled = false

[battery]
format = "[$symbol $percentage]($style)\n"

[[battery.display]]
style = "bold red"
threshold = 10

[[battery.display]]
style = "bold orange"
threshold = 20

[[battery.display]]
style = "bold yellow"
threshold = 30

[jobs]
disabled = true

[git_branch]
style = "bold #9E9E9E"
symbol = " "
format = "[$symbol$branch]($style) "

[git_commit]
style = "bold #9E9E9E"
only_detached = true

[git_state]
style = "bold #9E9E9E"

[git_status]
style = "dimmed white"
format = "(($ahead_behind )($conflicted )($stashed )($deleted )($renamed )($modified )($staged )($untracked))($style)"
ahead = "↑${count}"
behind = "↓${count}"
staged = "+${count}"
deleted = "-${count}"
modified = "~${count}"
untracked = "?:${count}"
renamed = "^${count}"
diverged = "↑${ahead_count} ↓${behind_count}"

[kubernetes]
format = "[$symbol$context \\($namespace\\)](bold cyan) "
disabled = false

[aws]
style = "bold #ff9900"
symbol = "  "
format = "[$symbol($profile )(\\($region\\) )]($style) "

[package]
symbol = " "
format = "[$symbol$version]($style) "

[python]
style = "bold green"
symbol = " "
